.App{
    padding: 40px 40px 40px 40px; 
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgb(250, 242, 255); 
}

p.selector-description{
    width: 500px; 
}

span{
    color: rgb(94, 96, 209); 
}